* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thumbnail{
    width: calc(100% / 5);
    flex-wrap: wrap;
    filter: brightness(0.5);
    cursor: pointer;
}

.active{
    filter: brightness(1);
    border: 5px solid greenyellow;
}

.arrow{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    color: white;
}

.prev, .next{
    background-color: grey;
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
}